*{
  /* width: 100%; */
  margin: 0 auto;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.App div{
  /* margin: 20px;
  margin-right: 50px;  */
  height: 100px;
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
}

.cards{
  margin: 0 auto;
  width: 90%;
  /* margin: 10px 0; */
  margin-top: 10px;
}

.photos{
  width: 100px;
  height: 100px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
